.footer{
    margin-top: 130px;
background-image: url('../images/wave.svg');
background-repeat: no-repeat;
background-size: cover;
padding: 60px 20px;
}
.footer a{
    color: #ffffff;
    text-decoration: none;
}
.footer a:hover{
    color: rgb(255, 255, 255);
}

.margintop{
    margin-top: 180px;
}