.menu-bar {
  display: none;
  color: white;
}
.header {
  background: #355C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}
.nav-2 {
  align-items: center;
  justify-content: center;
  height: 100vh;
  line-height: 50px;
  font-size: 30px;
}
.store{
  position: relative;
}
.storelength{
  position: absolute;
  top: 40px;
}

.scroll-btn{
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #C06C84;
  color: #fff;
  padding:  13px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 222;

}
@media screen and (max-width: 768px) {
  .menu-bar {
    display: block;
  }
  .nav1{
    display: none;
  }
  

}
